# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Custom files
test.txt
.vscode/settings.json
test.json
CsvParser.code-workspace
2018-census-totals-by-topic-national-highlights-csv/access-to-basic-amenities-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/access-to-telecommunication-systems-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/activity-limitations-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/age-single-years-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/birthplace-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/cigarette-smoking-behaviour-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/dwelling-dampness-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/dwelling-mould-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/dwelling-occupancy-status-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/dwelling-type-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/ethnic-group-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/fuel-types-used-to-heat-dwellings-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/highest-qualification-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/highest-secondary-school-qualification-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/hours-worked-in-employment-per-week-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/hours-worked-per-week-in-main-job-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/hours-worked-per-week-in-other-jobs-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/individual-home-ownership-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/industry-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/job-search-methods-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/languages-spoken-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/legally-registered-relationship-status-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/main-means-of-travel-to-education-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/main-means-of-travel-to-work-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/main-types-of-heating-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/maori-descent-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/number-of-bedrooms-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/number-of-census-night-occupants-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/number-of-children-born-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/number-of-motor-vehicles-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/number-of-rooms-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/occupation-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/official-language-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/partnership-status-in-current-relationship-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/post-school-qualification-field-of-study-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/post-school-qualification-in-nz-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/post-school-qualification-level-of-attainment-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/religious-affiliation-total-responses-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/sector-of-landlord-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/sector-of-ownership-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/sex-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/sources-of-personal-income-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/status-in-employment-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/study-participation-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/tenure-of-household-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/total-personal-income-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/unpaid-activities-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/usual-residence-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/work-and-labour-force-status-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/workplace-address-indicator-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/years-at-usual-residence-2018-census-csv.csv.json
2018-census-totals-by-topic-national-highlights-csv/years-since-arrival-in-nz-2018-census-csv.csv.json
